<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='mainpage.css') }}">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}AiRegressor{% endblock %}</title>
</head>
<body>
    <div class="Page">
        <div class="NavBar">
            <a href = "{{url_for('index')}}">
            <img src="{{ url_for('static', filename='Logo.png') }}" width="7%" length="7%"></a>
            <div class="ServicesSec" id="Service">
                Services &#9660;
                <div class="Models" id="ModelDropdown">
                    <a href="{{ url_for('Transaltion') }}">English to French voice translation</a>
                    <a href="{{ url_for('forecasting') }}">Forecasting your Favorite Stock market</a>
                    <a href="{{ url_for('Style') }}">Paint the world with the style of your favorite painter</a>
                </div>
            </div>
            <a href="" class="Nav">About us</a>
            <button class="signup">Sign up</button>
        </div>
        
        {% block content %}{% endblock %}
    </div>
    
    {% block extra_js %}
    <script src="{{ url_for('static', filename='Script.js') }}"></script>
    {% endblock %}
</body>
</html>