/* L9wada dyal text field a3chiriiiii */
/* Container for input field */
.Page{
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
    gap:40px;
}
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  /* Label styling */
  .input-label {
    font-size: 14px;
    color: white;
    margin-bottom: 8px;
  }
  
  /* Text field styling */
  .input-field {
    padding: 12px 15px;
    font-size: 16px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Focus state */
  .input-field:focus {
    border-color: #0073e6; /* SaaS-themed blue */
  }
  


  /* Stock prediction */

.footer{
  bottom: 0,
}
.marketing{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color:#a5633a;
}
.result{
  margin : 2rem;
  display:flex;
  flex-direction: column;
  color: #E30065;
  animation: pulse 1.5s infinite; /* Added animation */
  text-shadow: 0 0 5px #E30065, 0 0 10px #E30065; /* Added glowing effect */
}

/* New keyframes for pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}